h1 {
	font-size: 50px;
    font-family: 'Varela Round', sans-serif;
    color: #0077FF;
    margin-bottom: 40px;
}
p {
    font-family: 'Varela Round', sans-serif;
	font-size: 38px;
}
.fixed-header , .fixed-footer {
	position: fixed;
}
.fixed-header {
	top: 10%;
}
.fp-nav {
    z-index: 150 ;
}
.fixed-footer {
	width: 170px;
	bottom: 20%;
	z-index: 50;
}
.text-box {
	padding-top: 27%;
}
.img-place {
	text-align: center;
	z-index: 
}

@media screen and (max-width: 1023px){
    h1 {
        font-size: 42px;
    }
    p {
        font-size: 34px;
    }
}
@media screen and (max-width: 767px){
    .fixed-header {
        top: 1%;
        left: 40%;
    }
    .fixed-footer {
        width: 120px;
        bottom: 5%;
        left: 40%;
    }
    .text-box {
        padding-top: 5%;
        text-align: center;  
        padding-bottom: 20px; 
    }
    .img-box {
        width: 40%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    h1 {
        font-size: 38px;
    }
    p {
        font-size: 28px;
    }
}

@media screen and (max-width: 479px){
    .fixed-header {
    	top: 1%;
    	left: 35%;
    }
    .fixed-footer {
    	bottom: 5%;
    	left: 35%;
        display: none;
    }
    .text-box {
    	padding-top: 5%;
    	text-align: center;
    }
    .img-box {
    	width: 60%;
    	display: block;
  		margin-left: auto;
 		margin-right: auto;
    }
    h1 {
        font-size: 32px;
    }
    p {
    	font-size: 24px;
    }
}
.last {
    text-align: center;
    background-color: white;
    z-index: 90;
}
.form {
    display: block;
    width: auto;
    max-width: 480px;
    margin: 0px auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.input {
    display: block;
    width: 100%;
    height: 40px;
    margin: 0px 0px 40px;
    border-width: 0px 0px 2px;
    border-bottom-color: black;
    background-color: transparent;
    font-family: 'Varela Round', sans-serif;
    font-size: 24px;
    color: black;
    line-height: 44px;
    text-align: center;
}

.input:active {
    border-bottom-color: #73dcff;
}

.inputfield {
    margin-bottom: 20px;
    border: 1px solid black;
    background-color: transparent;
    font-family: 'Varela Round', sans-serif;
    color: black;
}
.title {
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: 'Varela Round', sans-serif;
    color: #8f8f8f;
    font-size: 14px;
    line-height: 24px;
}
.btn {
    display: inline-block;
    margin-top: 40px;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 0px;
    text-decoration: none;
}
.button {
    display: inline-block;
    margin-top: 10px;
    padding: 3px 30px;
    border-radius: 5px;
    border: 2px solid #0077FF;
    background-color: transparent;
    font-family: 'Varela Round', sans-serif;
    font-size: 24px;
    color: #0077FF;
    line-height: 44px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
}
.button:hover {
    background-color: #0077FF;
    color: white;
}